.topbar {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}
  
.topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.logo {
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}
  
.topRight{
      display: flex;
      align-items: center;
}
  
.notificationDropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 300px;
    z-index: 100;
    max-height: 400px;
    overflow-y: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notificationItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.notificationItem:hover {
    background-color: #f1f1f1;
}

.deleteNotificationBtn {
    background: none;
    border: none;
    color: #ff5252;
    font-size: 16px;
    cursor: pointer;
}

.deleteNotificationBtn:hover {
    color: #ff0000;
}


.topbarIconContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}
  
.topIconBadge{
      width: 15px;
      height: 15px;
      position: absolute;
      top: -5px;
      right: 0px;
      background-color: red;
      color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
}
  
.topAvatar{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
}